table,
td,
th {
    border: 1px solid black;
}

body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    width: 130px;
    display: inline-block;
}

.groep {
    margin: 10px 0px;
}